*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}

html{
  background-color: #FBFFC9;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 3em 1em;
}
